/* Write your CSS here */
.project-card-cont {
  display: flex;
  flex-direction: column;
}

.project-title-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a{
    text-decoration: none;
}